{% extends "recipes/base.html" %}

{% block content %}
        <div class = "row d-flex justify-content-center">
            <div class = "col-md-8 d-flex flex-column">
                <section>
                    <h1>About The Recipe Vault</h1>
                    <p>
                        I'm Kyle, and this is my personal project, The Recipe Vault. 
                        To tell you a little about my background, I'm a senior computer science
                        student at Harrisburg University having experience in database design,
                        information retrieval and analysis, as well as many aspects of web 
                        development (although backend-development is definitely my strong suit).
                        In the future, I'd like to delve deeper into artificial intelligence and 
                        possibly even incorporate it here, but thats for a later time.
                    </p>

                    <p>
                        To talk a little about myself personally, I spend my free time bouncing between 
                        too many hobbies to keep track of like trading card games, fishing, hiking, video games,
                        and definitely more that I'm forgetting. Out of all my hobbies though, one of my favorites
                        will always be music. 
                    </p>

                    <p>
                        This project originally started as nothing more than an idea I pitched in my
                        Project One class. As I thought about it more and more though, I figured why not 
                        actually do it? Instead of building something purely for a grade, I wanted to create 
                        something that I myself would use. As you might have guessed, cooking is another one 
                        of my hobbies. Building an app with that in mind pushed me to make it the best it could be.
                        Its been rewarding as not only have I learned a lot from it, but I've also found a passion 
                        for creating.
                    </p>
                </section>

                <h2>Contact</h2>
                <div>
                    <span>Email:</span>
                    <a href = "kbrown5work@gmail.com">Kbrown5work@gmail.com</a>                  
                </div>
                <div>
                    <span>Github:</span>
                    <a href = "https://github.com/KEBrown5">KEBrown5</a>
                </div>
            </div>
        </div>
{% endblock %}