{% extends "recipes/base.html" %}

{% block content %}
    <div class = "row d-flex justify-content-center">
        <div class = "col-md-8 d-flex flex-column">
            <section>
                <h1>About The Recipe Vault</h1>
                <p>The Recipe Vault is a personal project made by Kyle Brown</p>
            </section>

            <h2>Contact</h2>
                <div>
                    <span>Email:</span>
                    <a href = "kbrown5work@gmail.com">Kbrown5work@gmail.com</a>                  
                </div>
                <div>
                    <span>Github:</span>
                    <a href = "https://github.com/KEBrown5">KEBrown5</a>
                </div>
        </div>
    </div>
{% endblock %}