{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Recipe Vault</title>

        <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>

        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"> <!--Bootstrap-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet"  href="{% static 'css/recipe.css' %}"> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spectral|Rubik">    
    </head>
    <body>
        <!-- Sidebar/header -->   
        <div class="container-fluid p-0">
            <div class = "row d-flex g-0">
                <div class = "col-auto p-0 sidebar-col"> 
                    <div class = "sidebar sticky-top" id = "sidebarWrapper">
                        <!-- <form method = "GET" action = "{% url 'recipes:home' %}">
                            <select name = "tag" class = "form-select">
                                <option value = "">All tags</option>
                                {% for tag in tags %}
                                    <option value = "{{ tag.name }}" {% if tag.name == selectedTag %} selected {% endif %}>
                                        {{ tag.name }}
                                    </option>
                                {% endfor %}
                            </select>
                            <button type = "submit">Sort</button>
                        </form>              -->

                        <a id = "/home/" class="sidebar-item" href="{% url 'recipes:home' %}">
                            <i class = "fa-solid fa-house"></i>
                            <span>Home</span>
                        </a>
                        
                        <a id = "/create/" class="sidebar-item" href="{% url 'recipes:create' %}">
                            <i class = "fa-solid fa-plus"></i>
                            <span>New</span>
                        </a>

                        <a id = "/about/" class="sidebar-item" href="{% url 'recipes:about' %}">
                            <i class = "fa-solid fa-circle-info"></i>
                            <span>About</span>
                        </a>   

                        <a id = "/account/" class="sidebar-item" href="{% url 'recipes:account' %}">
                            <i class = "fa-solid fa-circle-user"></i>
                            <span>Account</span>
                        </a>         
                    </div>
                </div>

                <div class = "col p-0">
                    <!-- Header -->
                    <header class = "row d-flex align-items-center font-h fs-3 g-0">            
                        <div class = "col-2 text-start">
                            <button type = "button" class = "btn d-lg-none ms-3"
                                onclick = "document.getElementById('sidebarWrapper').classList.toggle('open')">
                                <i class = "fa-solid fa-bars"></i>
                            </button>
                        </div>
                        <div class = "col-8 text-center">
                            <span>The Recipe Vault</span>
                        </div>
                        {% block searchbar %}
                            
                        {% endblock %}                             
                    </header>

                    <!-- Main content -->
                    <main>
                        {% block content %}

                        {% endblock %}
                    </main>
                </div>            
            </div>              
        </div>    

        {% block scripts %}
            
        {% endblock %}

        <script>
            const url = window.location.pathname;
            document.getElementById(url).classList.add("active");
        </script>
    </body>
</html>