<form id = "password-container" class = "password-container"
    hx-post = "{% url 'recipes:save_password' %}"
    hx-target = "this"
    hx-swap = "outerHTML"
    hx-select = "#password-container">

    {% csrf_token %}

    {% for field in form %}
        <div>
            <label>{{ field.label }}</label>
            {{ field }}

            {% if field.errors %}
                <div style = "color: red;">
                    {{ field.errors|striptags}}
                </div>
            {% endif %}
        </div>
    {% endfor %}

    {% if form.non_field_errors %}
        <div style = "color: red;">
            {{ form.non_field_errors|striptags}}
        </div>
    {% endif %}

    <button type = "submit" class = "btn">Save</button>
    <button type = "button" class = "btn"
        hx-get = "{% url 'recipes:account' %}"
        hx-target = "#password-container"
        hx-swap = "outerHTML"
        hx-select = "#password-container">
        Cancel
    </button>
</form>